.b-map {
	width: 800px;
	height: 320px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.b-map-preloader {
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	background: url(../img/b-map_loader.gif) 50% no-repeat;
	margin: -16px 0 0 -16px;
	position: absolute;
	z-index: 1;
	display: none;
}
.b-small_loader .b-map-preloader {
	top: 10px;
	left: 10px;
	width: 16px;
	height: 16px;
	background: url(../img/b-small_map_loader.gif) 50% no-repeat;
	margin: 0;
}
.b-map.b-loading_map .b-map-preloader {
	display: block;
}

.b-map-content {
	height: 100%;
	background: url(../img/map/_background.png) no-repeat;
	display: none;
}
.b-map-content.b-active_zone {
	cursor: pointer;
}

.b-map_zones {
	top: 0;
	left: 0;
	position: absolute;
	display: none;
}
.b-map.animating .b-map_zones {
	display: none !important;
}

.b-map-gmap,
.b-map-content_map {
	top: 0;
	left: 0;
	position: absolute;
}
.b-map-gmap {
	width: 100%;
	height: 100%;
	display: none;
}
.b-map-gmap a {
	display: none !important;
}
.b-map-gmap-zoom {
	top: 10px;
	right: 10px;
	width: 19px;
	height: 42px;
	background: url(../img/b-zoom_btn.png) no-repeat;
	position: absolute;
	z-index: 555;
	display: none;
}
.b-map-gmap-zoom_in,
.b-map-gmap-zoom_out {
	top: 0;
	left: 0;
	width: 19px;
	height: 21px;
	position: absolute;
	cursor: pointer;
}
.b-map-gmap-zoom_out {
	top: auto;
	bottom: 0;
}